<nav class="navbar navbar-expand-md navbar-dark bg-inverse bg-secondary fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo_tfg.png" style="width:2.5em "  class="d-inline-block align-top" alt="StreamEDU">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <!-- Logued : {{isAuthenticated}} -->
  <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav mr-auto"  data-toggle="collapse" data-target="#mainNavbar">
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">
              Preguntas Frecuentes
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">
                Contacto 
              </a>
            </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin/admin-usuarios">
          Administrar Usuarios
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target="#mainNavbar">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/user/register">
          Registro
        </a>
      </li>
      <li class="nav-item"   *ngIf="isAuthenticated">
        <a class="nav-link"  routerLink="/user/profile" >
          Perfil de Usuario 
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/admin/list-videos">
          Lista Videos
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/user/login">
          Iniciar Session
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a routerLink="/user/login" class="nav-link" (click)="logout()">
          Salir
        </a>
      </li>
    </ul>
  </div>
</nav>