<div id="div-with-bg">
<div class="container">
  <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
      <h2>Formulario de contacto</h2>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label>Mensaje</label>
      <textarea class="form-control" cols="30" rows="6" name="message" ngModel></textarea>
    </div>
    
        <button type="submit" class="btn btn-primary" style="width: 300px">Enviar</button>

  </form>
</div>
</div>