<div class="container-fluid" id="div-with-bg">
    <h4 class="text-center" *ngIf="isEditor || isAdmin"> Añadir un nuevo video</h4>
    <div class="raw mx-auto" style="width: 300px;">
        <div class="col">
            <button class="btn btn-block btn-dark" [routerLink]="['/admin/addVideo']" *ngIf="isEditor || isAdmin">
                Subir video
            </button>
        </div>
    </div>
    <hr>
    <div class="card-columns">
        <div class="card animated fadeIn" *ngFor="let video of videos">
            <img [src]="video.thumbnails.high.url" class="card-img-top" [alt]="video.title">
            <div class="card-body">
                <h5 class="card-title">{{ video.title }}</h5>
                <p class="card-text">{{ video.description }}</p>
                <button type="button" class="btn btn-primary btn-block mb-2"
                    [routerLink]="['/video', video.resourceId.videoId]">
                    Ver video
                </button>
                <div *ngIf="isEditor || isAdmin">
                    <button [routerLink]="['/videos', video.resourceId.videoId]" type="button"
                        class="btn btn-info btn-block mb-2">
                        Editar video
                    </button>
                </div>

                <div *ngIf="isAdmin">
                    <button [routerLink]="['/videos', video.resourceId.videoId]" type="button"
                        class="btn btn-danger btn-block">
                        Eliminar video
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="raw mx-auto" style="width: 300px;">
        <div class="col">
            <button (click)="moreVideos()" type="button" class="btn btn-success btn-block">
                Cargar mas Videos
            </button>
        </div>
    </div>
</div>







