<div id="div-with-bg">
<div class="container" >
  <div class="row">
    <div class="col">
        <h2 class="text-center mt-5 float-left">Preguntas Frecuentes</h2>
    </div>
    <div class="col">
        <button class="btn btn-primary float-right mt-5"  data-toggle="modal" data-target=#modalFAQ *ngIf="isEditor || isAdmin">Añadir pregunta frecuente</button>
      </div>
  </div>
</div>
<div class=" container  pb-5 mt-5">

  <div class="accordion" id="accordionExample" >
    <div class="card" [attr.id]="'accordion_' + i" *ngFor="let faq of faqs; let i = index;">
      <div class="card-header" id="'heading'+i">
          <div class="row mx-auto">
            <div class="col-md">
                <h2 class="mb-0">
                    <button class="btn btn-default float-left" type="button" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i" >
                      #{{i+1}} {{faq.pregunta | uppercase }} 
                    </button>
                  </h2>
            </div >
              <div class="col-xs">
                  <button class="btn btn-primary m-2 float-right" *ngIf="isEditor || isAdmin"  data-toggle="modal" data-target="#modalFAQ" (click)="onPreUpdateFaq(faq)">Editar</button>
              </div>
              <div class="col-xs">
                  <button class="btn btn-danger m-2 float-right" *ngIf="isEditor || isAdmin" (click)="onDeleteFaq(faq.id)">Eliminar</button>
              </div>
            </div> 
      </div>
      <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
        <div class="card-body">
            {{faq.respuesta}}
        </div>
      </div>
    </div>  
  </div>
</div>
<app-modal-faq></app-modal-faq>

</div>