<!-- <div id="div-with-bg">
  <div class="raw mx-auto " style="width: 300px;">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/logo_tfg.png" alt="StreamEDU" style="width: 50%; " class="mx-auto">
        <hr>
        <h6 class="text-center">Iniciar Session</h6>
        <form #formLogin="ngForm" class="m-3" novalidate="" (submit)=loginEmail()>
          <div class="form-group">
            <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Email"
              required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
              placeholder="Contraseña" minlength="6" required>
          </div>

          <button type="submit" class="btn btn-md btn-primary btn-block">Login
          </button>

          <button class="btn btn-md btn-block btn-info" routerLink="/user/register">
            Are you new ?
          </button>

        </form>

        <button class="btn btn-block btn-social" (click)="loginGoogle()">
          <img src="../../../../assets/google/btn_google_signin_dark_pressed_web@2x.png"
            class="btn btn-block btn-social" alt="Google">
        </button>
      </div>
    </div>
  </div>
</div> -->

<div id="div-with-bg">
    <div class="raw mx-auto " style="width: 300px;">
      <div class="col">
        <div class="card">
          <img src="../../../../assets/logo_tfg.png" alt="StreamEDU" style="width: 50%; " class="mx-auto">
          <hr>
          <h6 class="text-center">Iniciar Session</h6>
          <form #formLogin="ngForm" class="m-3" novalidate="" (submit)=loginEmail()>
            <div class="form-group">
              <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Email"
                required>
            </div>
            <div class="form-group">
              <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
                placeholder="Contraseña" minlength="6" required>
            </div>
  
            <button type="submit" class="btn btn-md btn-primary btn-block">Iniciar Session
            </button>
  
            <button class="btn btn-md btn-block btn-info" routerLink="/user/register">
              Eres nuevo ? Registrate!
            </button>
  
          </form>
  
          <button class="btn btn-block btn-social" (click)="loginGoogle()">
            <img src="../../../../assets/google/btn_google_signin_dark_pressed_web@2x.png"
              class="btn btn-block btn-social" alt="Google">
          </button>
        </div>
      </div>
    </div>
  </div>
  






