/* .form-control.login-user {
    border: 0 solid #fff !important;
} */
.btn-social {
position: relative;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}

#div-with-bg {
    background:  url('../../../../assets/images/bg-login-register.jpg') ;
    background-size: 100%;
    position: relative; 
  /* Preserve aspet ratio */
    min-width: 100% ;
    min-height: 100% ;
    max-height: 100% ;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 450px;


}
