<div class="container" id="div-with-bg">
  <div class="row mx-auto ">
    <div class="col-md-10 align-left">
      <h4> Estas editando el video : {{ videoId | json }} </h4>
    </div>
    <div class="col-xs-3 col-md-2 align-right"><button class="btn btn-primary" routerLink="/admin/list-videos">Volver</button>

    </div>
    <form class="col-md-12">
      <div class="form-row">
        <div class="form-group col-md-12 col-md-6 col-md-3">
          <label for="inputEmail4">Nombre del video</label>
          <!-- <input type="email" class="form-control" id="inputEmail4" [placeholder]="video.title">  -->
          <input type="email" class="form-control" id="inputEmail4" placeholder="Introduce un titulo para el video">
        </div>
        <div class="form-group col-md-12 col-md-6 col-md-3">
          <label for="inputAddress">Descripción del video</label>
          <!-- <input type="text" class="form-control" id="inputAddress" [placeholder]="video.description">  -->
          <input type="text" class="form-control" id="inputAddress"
            placeholder="Introduce una descripción para el  video">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Tags del Video</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Categoria del video</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>

</div>