  <div class="container" id="div-with-bg">
      <div class="row">
        <div class="col-md-12 mt-5">
          <h1>{{ titulo }} </h1>
          <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Name of Video</label>
              <input type="text" formControlName="nya" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nya.errors }" />
              <div *ngIf="submitted && f.nya.errors" class="invalid-feedback">
                <div *ngIf="f.nya.errors.required">Por favor, ingresa un nombre para el video</div>
              </div>
            </div>
            <div class="form-group">
              <label for="video"> Categiria del video</label>
              <select class="form-control" formControlName="video"
                [ngClass]="{ 'is-invalid': submitted && f.video.errors }">
                <option value="">Seleccionar</option>
                <option value="">Historia</option>
                <option value="">Lenguas</option>
                <option value="">Calculo</option>
              </select>
              <div *ngIf="submitted && f.video.errors" class="invalid-feedback">
                <div *ngIf="f.video.errors.required">Por favor, Selecciona el video</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" formControlName="description" rows="3"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Por favor, ingresa la descripcion del video ( 6 Caracteres
                  mínimo )</div>
              </div>
            </div>
            <div class="form-group">
              <div class="image-upload">
                <label for="file-input" class="btn btn-outline-dark"> Select Video
                </label>
                 <input id="file-input" hidden type="file" accept=".avi, .mpg4" (change)="insertVideo($event)">
              </div>
              <!-- <div class="progress">
                <div class="progress-bar progress-bar-stripped bg-success" role="progressbar"
                  [style.width]="( uploadPercent | async ) +'%'">
                </div> 
                <br>
              </div> -->
            </div>
            <!-- <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Upload Video</button>
            </div> -->
          </form>
        </div>
      </div>
  </div>
