.main-section {
    border: 1px solid #007bff;
    background: #fff;
  }
  .profile-header {
    background: #007bff;
    height: 150px;
  }
  .user-detail {
    margin: -50px 0 30px 0;
  }
  
  img {
    height: 150px;
    width: 150px;
  }
  .user-details h5 {
    margin: 15px 0 5px 0;
  }

  .image-upload>input {
    display: none;
  }

  #div-with-bg {
    background:  url('../../../../assets/images/bg-login-register.jpg');
    background-size: cover;
    position: relative;
    min-width: 100% ;
    min-height: 100% ;
    max-height: 100% ;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 380px;

}